body { background-image: url(http://subtlepatterns.com/patterns/ricepaper.png) }
#content{
    z-index: 101;
}
#hider
{
    position:absolute;
    z-index: 99;
    background-color:grey;
//for transparency
opacity:0.6;
}

#popup_box
{

    width:300px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-75px 0 0 -135px;
    border: 1px solid #ccc;
    border:  2px solid red;
    z-index:100;
    background-color: #2e8b57;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomleft: 25px;
    -moz-border-radius-bottomright: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
a {
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 200;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 100px 100px;
    width: 200px;
    text-align: center;
}

a:active {
    position: relative;
    top: 6px;
}